* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: serif;
    vertical-align: baseline;
    background: transparent;
    color: #5F3103;
}

body {
    background-image: url("../assets/wallpaper.jpg");
}

#headerArea {
    display: block;
    width: 100%;
    height: 120px;
}

#navArea {
    display: block;
    float: left;
    width: 25%;
}

#sectionArea {
    display: block;
    float: left;
    width: 72.5%;
}

#footerArea {
    display: block;
    clear: both;
    width: 100%;
    height: 60px;
}

header {
    position: relative; top: 10px; left: 2.5%;
    display: block;
    width: 95%;
    height: 100px;
    overflow: hidden;

    background: #BF9163;
    box-shadow: 2px 2px 10px #000000;
}

header h1 {
    position: relative; top: 10px; left:2.5%;
    display: block;
    width: 95%;
    height: 80px;

    background: #DFB183;
    box-shadow: 2px 2px 5px #000000;

    line-height: 80px;
    font-size: 30px;
    text-align: center;
}

nav {
    position: relative; left: 10%;
    display: block;
    width: 80%;
    padding-bottom: 30px;
    overflow: hidden;

    background: #BF9163;
    box-shadow: 2px 2px 10px #000000;
}

nav div { /* nav buttons */
    position: relative; top: 20px; left: 10%;
    display: block;
    width: 80%;
    height: 50px; margin-bottom: 10px;
    padding-bottom: 0px;

    background: #DFB183;
    box-shadow: 2px 2px 5px #000000;

    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
nav div:hover {background: #EFC193;}

section {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 20px;

    background: #BF9163;
    box-shadow: 2px 2px 10px #000000;
    overflow: hidden;
}

section h2 {
    position: relative; top: 20px; left: 5%;
    display: block;
    width: 90%;
    height: 60px; margin-bottom: 20px;

    background: #DFB183;
    box-shadow: 2px 2px 5px #000000;

    line-height: 60px;
    font-size: 25px;
    text-align: center;
}

section article {
    position: relative; top: 20px; left: 5%;
    display: block;
    width: 90%;
    padding-top: 30px; padding-bottom: 20px;
    margin-bottom: 20px;

    background: #DFB183;
    box-shadow: 2px 2px 5px #000000;
    overflow: hidden;
}

section p, li {
    margin-left: 5%; margin-right: 5%;
    margin-bottom: 10px;
}

section img {
    float: right;
    margin-left: 5%; margin-right: 5%;
    margin-bottom: 10px;
}

section canvas {
    display: block;
    margin-left: auto; margin-right:auto;
    margin-bottom: 10px;

    background: #FFD1A3;
    box-shadow: 2px 2px 5px #000000;
}

footer {
    position: relative; top: 10px; left: 2.5%;
    display: block;
    width: 95%;
    height: 40px;

    background: #BF9163;
    box-shadow: 2px 2px 10px #000000;

    line-height: 40px;
    text-align: center;
}
